services:
  mindsdb:
    image: mindsdb/mindsdb:v25.14.1
    ports:
      - "47334:47334"
      - "47335:47335"
      - "47336:47336"
      - "47337:47337"
      - "47338:47338"
    volumes:
      - data:/opt/mindsdb/data
      - config:/opt/mindsdb/config
    container_name: mindsdb_service
    pull_policy: always

volumes:
  data:
  config:
