services:
  mindsdb:
    image: mindsdb/mindsdb:v25.10.1
    depends_on:
      pgvector:
        condition: service_healthy
    ports:
      - "47334:47334"
      - "47335:47335"
    volumes:
      - data:/opt/mindsdb/data
      - config:/opt/mindsdb/config
    container_name: mindsdb_service
    pull_policy: always
    environment:
      MINDSDB_DB_CON: "postgresql://mindsdb:mindsdb@pgvector/mindsdb"
      KB_PGVECTOR_URL: "postgresql://mindsdb:mindsdb@pgvector/kb"

  pgvector:
    image: pgvector/pgvector:pg17
    container_name: pgvector_service
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init-dbs.sh:/docker-entrypoint-initdb.d/init-dbs.sh
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"

volumes:
  data:
  config:
  pg_data:
