services:
  mindsdb:
    image: mindsdb/mindsdb:v24.6.1.0
    ports:
      - "47334:47334"
      - "47335:47335"
      - "47336:47336"
    volumes:
      - data:/opt/mindsdb/data
      - config:/opt/mindsdb/config
    container_name: mindsdb_service
    pull_policy: always

volumes:
  data:
  config:
